body {
  background-color: gainsboro;
}

strong {
  font-weight: bold;
}

section {
  padding: 25px;
}

.header_nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 50px;
  background-color: gainsboro;
}

.header_nav_link {
  text-decoration: none;
}

.header_nav_link:visited {
  color: black;
}

.header_nav_link:hover {
  color: white;
}

.hero {
  background-image: url("./assets/hero.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
  position: relative;
}

.hero_desc {
  position: absolute;
  top: 50%;
  margin-left: 25px;
}

.hero_heading {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.hero_intro {
  font-size: 18px;
  line-height: 2;
}

.section_heading {
  width: 200px;
  text-align: center;
  font-size: 20px;
  margin: 0 auto 20px auto;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.info_row {
  margin: 20px 0;
  display: flex;
}

.info_category,
.skills_category {
  width: 33%;
  text-align: center;
}

.skills {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 25px 0 0 0;
}

.skills_category {
  width: 80%;
  margin: 0 auto 10px auto;
}

.skills_category_title {
  font-size: 18px;
  color: steelblue;
  padding: 10px;
}

.skills_image {
  height: 30px;
}

.projects_container {
  width: 80%;
  margin: 0 auto;
}

.projects_item {
  padding: 5px 0;
  margin: 10px auto;
  text-align: center;
  max-width: 700px;
}

.project_name {
  margin: 10px 0;
  font-size: 20px;
  font-weight: bold;
  color: sienna;
}

.project_date {
  color: gray;
}

.project_desc {
  font-size: 18px;
  padding: 10px 50px;
  line-height: 2;
}

.project_info {
  border-top: solid 1px rgba(0, 0, 0, 0.15);
  width: 70%;
  margin: 0 auto;
}

.project_info_category {
  display: flex;
  margin: 15px 0;
}

.project_info_title {
  width: 25%;
  text-align: left;
  border-right: solid 1px gray;
}

.project_info_desc {
  width: 75%;
  padding-left: 10px;
  text-align: left;
}

.contact_container {
  width: 80%;
  margin: 0 auto;
}

.contact_desc {
  text-align: center;
  color: gray;
}

.contact_form {
  margin-top: 10px;
  text-align: center;
}

.form_category {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.form_category_label {
  text-align: left;
  font-size: 18px;
  padding: 15px 0 5px 0;
}

.form_category_input {
  height: 30px;
}

.form_category_input,
textarea {
  font-size: 18px;
  padding-left: 5px;
}

.form_button_submit {
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  padding: 15px;
  width: 200px;
  background-color: aliceblue;
}

.form_button_submit:hover {
  cursor: pointer;
  background-color: white;
}
