body {
  font-size: 18px;
}

.hero_container {
  margin-top: 50px;
}

.hero_heading {
  font-size: 30px;
  padding: 10px 0;
  margin: 10px auto;
  width: fit-content;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  opacity: 0;
  animation: fadeIn01 1s ease-in-out both;
}

.hero_heading_strong {
  animation: fadeIn03 1s ease-in-out both;
  color: var(--link-color);
  animation-delay: 1s;
}

.hero_desc_wrapper {
  display: flex;
  margin-top: 30px;
}

.hero_profile_img {
  width: 50%;
  opacity: 0;
  animation: fadeIn02 1s ease-in-out both;
  animation-delay: 2s;
}

.hero_desc {
  padding: 0 10px;
  opacity: 0;
  animation: fadeIn02 1s ease-in-out both;
  animation-delay: 2.5s;
  line-height: 2;
}

.hero_desc strong {
  color: var(--info-header-color);
}

.hero_buttons_wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.hero_button,
.hero_button:visited {
  color: var(--link-color);
}

.hero_button:hover {
  color: var(--link-hover-color);
}

.section_container {
  margin: 50px;
  opacity: 0;
  animation: fadeIn02 1s ease-in-out both;
  animation-delay: 3s;
}

.about_contact_info {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.contact_info_header {
  color: var(--info-header-color);
  width: 50%;
  margin: 10px auto;
  padding: 7.5px 0;
}

.about_links_container {
  margin-top: 25px;
  display: flex;
  justify-content: space-evenly;
}

.about_link {
  margin: 10px 0;
}

.about_link,
.about_link:visited {
  color: var(--link-color);
}

.about_link:hover {
  color: var(--link-hover-color);
}

@keyframes fadeIn01 {
  from {
    opacity: 0;
    transform: translate3d(0, 105%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeIn02 {
  from {
    opacity: 0;
    transform: translate3d(0, 2%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeIn03 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
