.projects_container {
  width: 95%;
  margin: 0 auto;
}

.projects_item {
  padding: 5px 0;
  margin: 50px auto;
  text-align: center;
  max-width: 1000px;
  background-color: white;
  border: double var(--items-border-color) 5px;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.15);
}

.project_title {
  margin-top: 20px;
  font-size: 22px;
  color: var(--project-title-color);
}

.project_info {
  width: 90%;
  margin: 0 auto;
  padding: 10px 0;
}

.project_info_category {
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project_info_title {
  width: 110%;
  margin: 10px auto;
  text-align: center;
  font-size: 20px;
  color: var(--project-info-header);
}

.project_info_desc {
  line-height: 1.5;
}

.project_links_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project_link {
  display: flex;
  align-items: center;
}

.project_icon {
  font-size: 20px;
  margin-right: 5px;
}

.project_link,
.project_link:visited {
  color: var(--link-color);
}

.project_link:hover,
.project_link:visited:hover {
  color: var(--link-hover-color);
}

.project_slider {
  width: 98%;
  margin: 20px auto 10px auto;
  max-width: 600px;
  height: 500px;
  position: relative;
  overflow: hidden;
}

.project_slide {
  width: 100%;
  max-width: 600px;
  height: 500px;
  position: absolute;
  transition: all 0.5s;
}

.project_slide img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.slider_buttons_wrapper {
  margin: 20px auto;
  position: relative;
  text-align: center;
}

.slider_button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 40px;
  height: 40px;
  border: none;
  z-index: 99;
  cursor: pointer;
  background-color: transparent;
  color: var(--slider-arrow-color);
}

.slider_button i {
  font-size: 24px;
}

.slider_button:hover {
  color: var(--slider-arrow-hover);
}

.btn_prev {
  top: -1%;
  left: 10%;
}

.btn_next {
  top: -1%;
  right: 10%;
}

.page_title {
  font-size: 20px;
  color: var(--hero-font-color);
}

.desc_subject {
  color: var(--project-strong-color);
}

.project_desc {
  width: 95%;
  margin: 15px auto;
  line-height: 2;
  text-align: left;
}

.project_desc {
  font-size: 18px;
}

.project_desc p {
  display: none;
}

.desc_subject {
  font-size: 18px;
}

.project_desc .active {
  display: block;
}

@media screen and (min-width: 768px) {
  .project_title {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .project_info_category {
    flex-direction: row;
    width: 90%;
  }

  .project_info_title {
    font-size: 20px;
    width: 140px;
    margin: 0;
    text-align: start;
  }

  .project_info_desc {
    font-size: 18px;
    width: 70%;
    padding-left: 10px;
    text-align: left;
  }

  .project_links_wrapper {
    justify-content: start;
    width: 90%;
    padding-left: 10px;
    margin: auto;
  }

  .project_link {
    font-size: 20px;
    margin: 0 auto 0 0;
  }

  .project_icon {
    font-size: 26px;
  }

  .stacks_wrapper {
    width: 80%;
    padding-left: 10px;
    text-align: start;
    display: flex;
    flex-wrap: wrap;
  }

  .skills_image {
    height: 35px;
  }

  .project_slider,
  .project_slide {
    height: 600px;
  }

  .slider_button i {
    font-size: 26px;
  }

  .btn_prev {
    top: -1%;
    left: 25%;
  }

  .btn_next {
    top: -1%;
    right: 25%;
  }

  .page_title {
    font-size: 22px;
  }

  .project_desc {
    width: 80%;
  }

  .project_desc p,
  .desc_subject {
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .project_slider,
  .project_slide {
    width: 800px;
    height: 750px;
  }
}
