.about_desc {
  line-height: 1.75;
}

.about_desc_title {
  font-size: 18px;
  color: var(--hero-font-color);
}

.skills {
  display: flex;
  margin: 0 auto;
}

.skills_category {
  display: flex;
  flex-direction: column;
}

.skills_category_title {
  font-size: 20px;
  color: var(--info-header-color);
  margin: 20px 0;
}

.skills_category_desc {
  display: flex;
  margin: 5px 0;
  line-height: 1.75;
}

.skills_image {
  width: 20%;
  margin-right: 10px;
  height: 50px;
}

.skills_category_desc p {
  width: 80%;
}

.education_category_title {
  font-size: 20px;
  color: var(--info-header-color);
  margin: 20px 0;
}

.education_category_date {
  color: darkslategray;
}

.education_category_summary {
  font-size: 17px;
  margin: 10px 0;
}

.education_category_list {
  padding-left: 10px;
  list-style: inside bullet;
  line-height: 1.75;
}

.contact_form {
  padding: 35px 0;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  background-image: url("./../assets/contact.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.15);
}

.form_category {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.form_category_label {
  text-align: left;
  font-size: 18px;
  padding: 15px 0 10px 0;
  color: rgba(151, 50, 50, 0.85);
}

.form_category_input {
  height: 30px;
  margin-bottom: 5px;
}

.form_category_input,
.contact_form textarea {
  font-size: 18px;
  padding-left: 5px;
}

.validation_message {
  font-size: 14px;
  color: rgba(47, 79, 79, 0.8);
}

.form_button_submit {
  font-size: 16px;
  margin-top: 20px;
  border-radius: 2.5px;
  padding: 15px;
  width: 200px;
  border: solid 1px rgb(240, 239, 239);
  background-color: rgb(253, 245, 155);
}

.form_button_submit:hover {
  cursor: pointer;
  background-color: rgba(194, 219, 255, 0.85);
}

@counter-style bullet {
  system: cyclic;
  symbols: "♯";
  suffix: " ";
}
