main {
  animation: fadeIn03 1.5s ease-in-out both;
}

.about_wrapper {
  margin: 30px 0;
}

.about_name {
  font-size: 24px;
}

.name_link,
.name_link:visited {
  color: var(--link-color);
}

.name_link:hover {
  color: var(--link-hover-color);
}

.about_desc {
  margin: 20px 0;
}

.about_desc_title,
.skills_category_title {
  font-size: 20px;
  color: var(--hero-font-color);
}

.about_links_wrapper {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.about_link {
  margin: 20px 0;
  width: 100%;
  text-align: center;
}

.about_link,
.about_link:visited {
  color: var(--link-color);
}

.about_link:hover {
  color: var(--link-hover-color);
}

.skills {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.skills_category {
  display: flex;
  flex-direction: column;
}

.skills_category_title {
  font-size: 24px;
  color: var(--info-header-color);
  margin: 20px 0;
}

.skills_category_desc {
  margin: 5px 0;
}

.skills_name_wrapper {
  display: flex;
  align-items: center;
}

.skills_name {
  font-size: 20px;
  padding-top: 5px;
  margin-left: 7.5px;
  color: var(--skills-name-color);
}

.skills_icon {
  font-size: 24px;
}

.section_category {
  padding-top: 10px;
}

.section_category_title {
  font-size: 22px;
  color: var(--info-header-color);
  margin: 20px 0;
  line-height: 1.5;
}

.section_category_date {
  color: var(--section-sub-color);
}

.section_category_summary {
  margin: 15px 0 10px 0;
}

.section_category_list {
  padding-left: 10px;
  list-style: inside bullet;
}

.contact_form {
  padding: 40px 0;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  background-image: url("./../assets/contact.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.15);
}

.form_category {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.form_category_label {
  font-size: 18px;
  text-align: left;
  padding: 15px 0 10px 0;
  color: rgba(151, 50, 50, 0.85);
}

.form_category_input {
  height: 30px;
  margin-bottom: 5px;
}

.form_category_input,
.contact_form textarea {
  font-size: 18px;
  padding-left: 5px;
}

.validation_message {
  font-size: 14px;
  color: rgba(47, 79, 79, 0.8);
}

.form_button_submit {
  font-size: 16px;
  margin: 20px auto 10px auto;
  border-radius: 2.5px;
  padding: 15px;
  width: 200px;
  border: solid 1px rgb(240, 239, 239);
  background-color: rgb(252, 243, 107);
}

.form_button_submit:hover {
  cursor: pointer;
  background-color: rgba(194, 219, 255, 0.85);
}

@counter-style bullet {
  system: cyclic;
  symbols: "♯";
  suffix: " ";
}

@media screen and (min-width: 768px) {
  .about_link {
    width: 50%;
  }

  .skills_icon {
    font-size: 26px;
  }
}

@media screen and (min-width: 1024px) {
  .about_name {
    font-size: 32px;
  }

  .name_link {
    font-size: 32px;
  }

  .about_desc_title,
  .skills_category_title {
    font-size: 26px;
  }

  .skills_category_title {
    font-size: 30px;
  }

  .skills_category_desc {
    display: flex;
    flex-direction: column;
  }

  .skills_name_wrapper {
    margin-bottom: 10px;
  }

  .skills_icon {
    font-size: 30px;
  }

  .skills_name {
    font-size: 26px;
  }

  .section_category_title {
    font-size: 26px;
  }

  .section_category_date {
    font-size: 20px;
  }

  .form_category_label,
  .form_button_submit {
    font-size: 20px;
  }
}

@keyframes fadeIn03 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
